<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">Causeway-Stuff Docs</a>
      </div>
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Project</div>
          <div class="navbar-dropdown" style="right: 0;left: auto;">
            <div class="navbar-dropdown">
            <div class="navbar-item"><strong>Github</strong></div>
            <a target="blank" class="navbar-item" href="https://github.com/apache-causeway-committers/causewaystuff">Repository</a>
            <a target="blank" class="navbar-item" href="https://github.com/apache-causeway-committers/causewaystuff/issues">Issue Tracker</a>
            <a class="navbar-item" href="https://apache-causeway-commiters.github.io/causewaystuff/main/1.0.0/Contributing.html">Contributing</a>
            <hr class="navbar-divider">
            <div class="navbar-item"><strong>ASF Causeway</strong></div>
            <a class="navbar-item" href="https://causeway.apache.org/">Docs</a>            
          </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>