name: Build, Test (JDK 21)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  # This is a matrix build {'java', 'javascript'},
  # where only the 'java' part triggers the Maven build,
  # and only the 'javascript' part triggers the CodeQL autobuild.
  # Those builds must run in between the "CodeQL: Initialize" and "CodeQL: Perform Analysis" steps!
  # CodeQL can be disabled via SKIP_CODE_QL: true
  build:
    name: build-local-no-push
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      matrix:
        # CodeQL supports [ 'cpp', 'csharp', 'go', 'java', 'javascript', 'python', 'ruby' ]
        # Use only 'java' to analyze code written in Java, Kotlin or both
        # Use only 'javascript' to analyze code written in JavaScript, TypeScript or both
        # Learn more about CodeQL language support at https://aka.ms/codeql-docs/language-support
        language: [ 'java', 'javascript' ]
    env:
      # to be shared among all steps of this job
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
      BASELINE: 1.0.0-M1

      # options
      SKIP_CODE_QL: false

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      if: matrix.language == 'java'
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: 21

    - name: Print Maven Version
      if: matrix.language == 'java'
      run: mvn --version

    - name: Activate Cache for Maven Downloads
      if: matrix.language == 'java'
      uses: actions/cache@v4
      env:
        # change the cache-name if we want to rebuild the cache
        # can be reset via github action page
        cache-name: maven-shared
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-${{ env.cache-name }}
        restore-keys: |
          ${{ runner.os }}-${{ env.cache-name }}
          ${{ runner.os }}-

    # CodeQL Analysis (https://codeql.github.com/docs/codeql-overview/about-codeql/)
    - name: "CodeQL: Initialize"
      if: env.SKIP_CODE_QL != 'true'
      uses: github/codeql-action/init@v3
      with:
        languages: ${{ matrix.language }}

    - name: Build Artifacts (runs the Maven verify phase)
      if: matrix.language == 'java'
      env:
        ci-build: "yes"
      run: mvn --batch-mode --update-snapshots verify

    # Autobuild attempts to build any compiled languages  (C/C++, C#, Go, or Java).
    # If this step fails, then you should remove it and run the build manually
    - name: "CodeQL: Autobuild"
      if: env.SKIP_CODE_QL != 'true' && matrix.language == 'javascript'
      uses: github/codeql-action/autobuild@v3

    - name: "CodeQL: Perform Analysis"
      if: env.SKIP_CODE_QL != 'true'
      uses: github/codeql-action/analyze@v3
      with:
        category: "/language:${{matrix.language}}"
